.item-completed {
  text-decoration: line-through;
  color: $success;

  &:hover {
    text-decoration: line-through;
    color: $success !important;

  }
}

.noti {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px 18px;
  border-radius: 20px;
  text-transform: uppercase;
  z-index: 5;
  @extend .shadow-sm;

  &.danger {
    background: $danger;
    color: $white;
  }

  &.success {
    background: $success;
    color: $white;
  }
}